<% include partials/header.ejs %>
    <style>
      body {
        background-image: url("<%=imageURLs[0]%>");
      }
    </style>
  </head>
  <body>
    <h1>Cool Images</h1>
    <form action="/search">
      <input type="text" placeholder="Type Keyword" name="keyword" />
      <button>
        Search
      </button>
    </form>

    <% include partials/footer.ejs %>