<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Image Search App</title>
    <style>
      body {
        background-image: url("<%=imageURL%>");
      }
    </style>
  </head>
  <body>
    <h1>Cool Images</h1>
  </body>
</html>
